
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-auto" [formGroup]="form">
    <h1 class="text-gray-500 font-bold text-2xl">Creación Matricula</h1>

    <div class="flex flex-col align-middle min-w-0.5 mx-auto relative">
        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Matricula Vacancia
                </label>
                <app-select2-generico
                    *ngIf="dataMatriculaV.length > 0"
                    [data]="dataMatriculaV"
                    [idField]="'idMVacancia'"
                    [labelFields]="['nombreAula', 'disponibilidadActual','disponibilidadTotal']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleMVSeleccionado($event)"
                    formControlName="idMVacancia"
                    [ngClass]="{'is-invalid': isInvalid('idMVacancia')}">
                </app-select2-generico>
                <div *ngIf="isInvalid('idMVacancia')" class="invalid-feedback">
                    <div *ngIf="isRequerido('idMVacancia')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2">
                    Estudiante
                </label>
                <app-select2-generico
                    *ngIf="dataEstudiante.length > 0"
                    [data]="dataEstudiante"
                    [idField]="'idEstudiante'"
                    [labelFields]="['nombres', 'apePaterno', 'apeMaterno']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleEstudianteSeleccionado($event)"
                    formControlName="idEstudiante"
                    [ngClass]="{'is-invalid': isInvalid('idEstudiante')}">
                </app-select2-generico>
                <div *ngIf="isInvalid('idEstudiante')" class="invalid-feedback">
                    <div *ngIf="isRequerido('idEstudiante')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Estado
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                formControlName="estado"
                [ngClass]="{'is-invalid': isInvalid('estado')}"
                >
                <div *ngIf="isInvalid('estado')" class="invalid-feedback">
                    <div *ngIf="isRequerido('estado')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Fecha Registro
                </label>
                <input type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                formControlName="fechaRegistro"
                [ngClass]="{'is-invalid': isInvalid('fechaRegistro')}"
                >
                <div *ngIf="isInvalid('fechaRegistro')" class="invalid-feedback">
                    <div *ngIf="isRequerido('fechaRegistro')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
        </div>

        <div class="grid my-2 gap-3 justify-start">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="button" (click)="addData()">Enviar Data
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button" (click)="regresar()">
                Regresar
            </button>
        </div>
    </div>
</form>
