
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-auto">
    <h1 class="text-gray-500 font-bold text-2xl">Creación Docente</h1>

    <div class="flex flex-col align-middle min-w-0.5 mx-auto relative">
        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Nombres
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    [(ngModel)]="data.nombre" name="nombre">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Apellido paterno
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    [(ngModel)]="data.apellidoPaterno" name="apellidoPaterno">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Apellido Materno
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.apellidoMaterno" name="apellidoMaterno">
            </div>
        </div>

        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Ciudad
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.ciudad" name="ciudad">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Tipo Cargo
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.tipoCargo" name="tipoCargo">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    DNI
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.dni" name="dni">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Fecha Registros
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.fechaRegistro" name="fechaRegistro" [disabled]="true">
            </div>
        </div>
        
        <div class="my-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Direccion
            </label>
            <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.direccion" name="direccion">
        </div>  

        <div class="grid my-2 gap-3 justify-start">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="button" (click)="updateData()">Enviar Data
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                routerLink="../..">
                Regresar
            </button>
        </div>
    </div>
</form>