
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-auto">
    <h1 class="text-gray-500 font-bold text-2xl">Creación Horario</h1>

    <div class="flex flex-col align-middle min-w-0.5 mx-auto relative">
        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Aula
                </label>
                <app-select2-generico
                    *ngIf="dataAula.length > 0"
                    [data]="dataAula"
                    [idField]="'idAula'"
                    [labelFields]="['gradoActual', 'seccion','seccion']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleAulaSeleccionado($event)">
                </app-select2-generico>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Docente
                </label>
                <app-select2-generico
                    *ngIf="dataDocente.length > 0"
                    [data]="dataDocente"
                    [idField]="'idDocente'"
                    [labelFields]="['nombre', 'apellidoPaterno','apellidoMaterno']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleDocenteSeleccionado($event)">
                </app-select2-generico>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Curso
                </label>
                <app-select2-generico
                    *ngIf="dataCurso.length > 0"
                    [data]="dataCurso"
                    [idField]="'idCurso'"
                    [labelFields]="['nombre']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleCursoSeleccionado($event)">
                </app-select2-generico>
            </div>
        </div>

        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Fecha Inicio
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.Fecha_inicio" name="fechaInicio">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Fecha Final
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.Fecha_final" name="fechaFinal">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Hora Inicio
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.hora_inicio" name="horaInicio">
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Hora Final
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                [(ngModel)]="data.hora_final" name="horaFinal">
            </div>
        </div>

        <div class="grid my-2 gap-3 justify-start">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="button" (click)="addData()">Enviar Data
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button" (click)="regresar()">
                Regresar
            </button>
        </div>
    </div>
</form>