
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-auto" [formGroup]="form">
    <h1 class="text-gray-500 font-bold text-2xl">Creación Horario</h1>

    <div class="flex flex-col align-middle min-w-0.5 mx-auto relative">
        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Aula
                </label>
                <app-select2-generico
                    *ngIf="dataAula.length > 0"
                    [data]="dataAula"
                    [idField]="'idAula'"
                    [labelFields]="['gradoActual', 'seccion','seccion']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleAulaSeleccionado($event)"
                    formControlName="idAula"
                    [ngClass]="{'is-invalid': isInvalid('idAula')}">
                </app-select2-generico>
                <div *ngIf="isInvalid('idAula')" class="invalid-feedback">
                    <div *ngIf="isRequerido('idAula')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Docente
                </label>
                <app-select2-generico
                    *ngIf="dataDocente.length > 0"
                    [data]="dataDocente"
                    [idField]="'idDocente'"
                    [labelFields]="['nombre', 'apellidoPaterno','apellidoMaterno']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleDocenteSeleccionado($event)"
                    formControlName="idDocente"
                    [ngClass]="{'is-invalid': isInvalid('idDocente')}">
                </app-select2-generico>
                <div *ngIf="isInvalid('idDocente')" class="invalid-feedback">
                    <div *ngIf="isRequerido('idDocente')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Curso
                </label>
                <app-select2-generico
                    *ngIf="dataCurso.length > 0"
                    [data]="dataCurso"
                    [idField]="'idCurso'"
                    [labelFields]="['nombre']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleCursoSeleccionado($event)"
                    formControlName="idCurso"
                    [ngClass]="{'is-invalid': isInvalid('idCurso')}">
                </app-select2-generico>
                <div *ngIf="isInvalid('idCurso')" class="invalid-feedback">
                    <div *ngIf="isRequerido('idCurso')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Fecha Inicio
                </label>
                <input type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                formControlName="Fecha_inicio"
                [ngClass]="{'is-invalid': isInvalid('Fecha_inicio')}">
                <div *ngIf="isInvalid('Fecha_inicio')" class="invalid-feedback">
                    <div *ngIf="isRequerido('Fecha_inicio')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Fecha Final
                </label>
                <input type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                formControlName="Fecha_final"
                [ngClass]="{'is-invalid': isInvalid('Fecha_final')}">
                <div *ngIf="isInvalid('Fecha_final')" class="invalid-feedback">
                    <div *ngIf="isRequerido('Fecha_final')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Hora Inicio
                </label>
                <input type="time" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                formControlName="hora_inicio"
                [ngClass]="{'is-invalid': isInvalid('hora_inicio')}">
                <div *ngIf="isInvalid('hora_inicio')" class="invalid-feedback">
                    <div *ngIf="isRequerido('hora_inicio')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Hora Final
                </label>
                <input type="time" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                formControlName="hora_final"
                [ngClass]="{'is-invalid': isInvalid('hora_final')}">
                <div *ngIf="isInvalid('hora_final')" class="invalid-feedback">
                    <div *ngIf="isRequerido('hora_final')">
                        Debe completar el campo*
                    </div>
                </div>
            </div>
        </div>

        <div class="grid my-2 gap-3 justify-start">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="button" (click)="addData()">Enviar Data
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button" (click)="regresar()">
                Regresar
            </button>
        </div>
    </div>
</form>