
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-auto">
    <h1 class="text-gray-500 font-bold text-2xl">Creación Relación Apoderado - Estudiante</h1>

    <div class="flex flex-col align-middle min-w-0.5 mx-auto relative">
        <div class="flex flex-row my-2 content-between">
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Estudiante
                </label>
                <app-select2-generico
                    *ngIf="dataEstudiante.length > 0"
                    [data]="dataEstudiante"
                    [idField]="'idEstudiante'"
                    [labelFields]="['nombres', 'apePaterno', 'apeMaterno']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleAlumnoSeleccionado($event)">
                </app-select2-generico>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Apoderado
                </label>
                <app-select2-generico
                    *ngIf="dataApoderado.length > 0"
                    [data]="dataApoderado"
                    [idField]="'idApoderado'"
                    [labelFields]="['nombres', 'apellidoP', 'apellidoM']"
                    placeholder="Selecciona un estudiante"
                    (itemSeleccionado)="handleApoderadoSeleccionado($event)">
                </app-select2-generico>
            </div>
            <div class="mr-2">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Tipo de Relacion
                </label>
                <select name="select" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline peer"
                [(ngModel)]="data.tipoRelacion" name="tipoRelacion">
                   <option value="Padre">Padre</option>
                   <option value="Madre">Madre</option>
                   <option value="Abuelo">Abuelo</option>
                   <option value="Abuela">Abuela</option>
                   <option value="Hermano">Hermano</option>
                   <option value="Hermana">Hermana</option>
                   <option value="Otro Pariente">Otro Pariente</option>
                   <option value="PERSONA QUE ASUME ACOGIMIENTO FAMILIAR">PERSONA QUE ASUME ACOGIMIENTO FAMILIAR</option>
                 </select>
            </div>
        </div>



        <div class="grid my-2 gap-3 justify-start">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="button" (click)="addData()">Enviar Data
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                routerLink="..">
                Regresar
            </button>
        </div>
    </div>
</form>