<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-blue-300 dark:bg-gray-100 dark:text-gray-800">
            <tr>
                <th *ngFor="let columna of columnas" scope="col" class="px-3 py-3">
                    {{columna}}
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataSource" class="bg-white border-b dark:bg-white dark:border-gray-300">
                <td *ngFor="let nombre of columnas" scope="row" class="px-3 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                    
                        <ng-container *ngIf=" nombre === 'fechaNacimiento' || nombre === 'fechaRegistro' || nombre === 'fechaEmision'" >
                        {{data[nombre] | date: 'dd/MM/yyyy'}}
                      </ng-container>
                      <ng-container *ngIf=" nombre !== 'fechaNacimiento' && nombre !== 'fechaRegistro' && nombre !== 'fechaEmision'">
                        {{data[nombre]}}
                      </ng-container>
                </td>
                <td class="flex">
                    <a *ngFor="let accion of acciones" class="dropdown-item" (click)="onAction(accion,data)"
                        href="javascript:void(0);"> <img [class]="getIcon(accion)" [src]="getIcon(accion)[1]"/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>